<html>

<head>
    <style>
        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid red;
            border-color: red transparent red transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
        }
    </style>
    <script type="text/javascript" src="https://internet-authen.moph.go.th/jquery.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
</head>

<body>
    <button type="button" onclick="login()">ใช้งานอินเตอร์เน็ต</button>
    <div class="lds-dual-ring centered"></div>
    <form id="myForm">
        <form action="<%=protocol%>//<%=ip%>/fgtauth?<%=magic%>" method="post">
            <input type="hidden" name="magic" value="<%=magic%>">
            <input type="hidden" name="4Tredir" value="">
            <input type="hidden" name="username" value="<%=username%>">
            <input type="hidden" name="password" value="<%=password%>">
        </form>
    </form>
</body>

<script>
    function login() {
        // var url = '<%=protocol%>//<%=ip%>/fgtauth?<%=magic%>';
        // var text = '<form action="' + url + '" method="post">' +
        //     `<input type="hidden" name="magic" value="<%=magic%>">` +
        //     `<input type="hidden" name="4Tredir" value="">` +
        //     `<input type="hidden" name="username" value="<%=username%>">` +
        //     `<input type="hidden" name="password" value="<%=password%>">` +
        //     '</form>';
        var myform = document.getElementById('myForm');
        // var form = new FormData(myform);
        // document.getElementsByTagName(body)
        // document.body.append(form);
        // $('body').append(form);
        myform.submit();
        //     });
        // })(jQuery);

    }

</script>

</html>