<html>

<head>
    <style>
        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid red;
            border-color: red transparent red transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
        }
    </style>
    <!-- <script type="text/javascript" src="jquery.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <button type="button" onclick="login()">ใช้งานอินเตอร์เน็ต</button>
    <div class="lds-dual-ring centered"></div>
</body>

<script>
    function login() {
        var url = '<%=protocol%>//<%=ip%>/fgtauth?<%=magic%>';
        var text = '<form action="' + url + '" method="post">' +
            `<input type="hidden" name="magic" value="<%=magic%>">` +
            `<input type="hidden" name="4Tredir" value="">` +
            `<input type="hidden" name="username" value="<%=username%>">` +
            `<input type="hidden" name="password" value="<%=password%>">` +
            '</form>';
        var form = new FormData(textToHTML(text))
        // document.getElementsByTagName(body)
        document.body.append(form);
        // $('body').append(form);
        form.submit();
        //     });
        // })(jQuery);

    }

    var support = (function () {
        if (!window.DOMParser) return false;
        var parser = new DOMParser();
        try {
            parser.parseFromString('x', 'text/html');
        } catch (err) {
            return false;
        }
        return true;
    })();

    var textToHTML = function (str) {

        // check for DOMParser support
        if (support) {
            var parser = new DOMParser();
            var doc = parser.parseFromString(str, 'text/html');
            return doc.body.innerHTML;
        }

        // Otherwise, create div and append HTML
        var dom = document.createElement('div');
        dom.innerHTML = str;
        return dom;

    };
</script>

</html>